server:
  http_listen_port: 3100
  grpc_listen_port: 9096

auth_enabled: false  # <-- disabilita multi-tenant

common:
  instance_addr: 127.0.0.1
  path_prefix: /var/lib/loki
  storage:
    filesystem:
      chunks_directory: /var/lib/loki/chunks
      rules_directory: /var/lib/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      schema: v13
      object_store: filesystem
      index:
        prefix: loki_index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /var/lib/loki/index
    cache_location: /var/lib/loki/index_cache
  filesystem:
    directory: /var/lib/loki/chunks

ingester:
  chunk_block_size: 262144
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  lifecycler:
    ring:
      kvstore:
        store: inmemory
    final_sleep: 0s

limits_config:
  allow_structured_metadata: false
  max_query_length: 0
  max_streams_per_user: 0
  max_global_streams_per_user: 0

querier:
  max_concurrent: 10
  query_ingesters_within: 2h

query_range:
  align_queries_with_step: true
  max_retries: 5
  cache_results: true

frontend:
  log_queries_longer_than: 5s
  compress_responses: true

frontend_worker:
  frontend_address: 127.0.0.1:9096

ruler:
  enable_api: true
  rule_path: /var/lib/loki/rules-temp
  storage:
    type: local
    local:
      directory: /var/lib/loki/rules
